.btn-primary {
    background-color: red;
    color: #ffffff;
    border: 2px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition-duration: 0.4s; /* Smooth transition between colors */
    border-radius: 5px;
  }

  .btn-primary:hover {
    background-color: #ffffff;
    color: red;
  }

  .btn-back {
    background-color: #007bff;
    color: #ffffff;
    border: 2px solid #0056b3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition-duration: 0.4s; /* Smooth transition between colors */
    border-radius: 5px;
  }

  .btn-back:hover {
    background-color: #ffffff;
    color: #007bff;
  }